---
layout: default
title: Yummi - my homepage
---
%h1 Verbs conjugated
%table.table
  %thead
    %tr
      %th Verb
      %th Present
      %th Preterito Perfecto
      %th Preterito Indefinido
      %th Futuro
      %th Translation
  %tbody.parse-data
    %tr
      %td 2
      %td Mark
      %td Otto
