---
layout: default
title: Linking words
---
%h2 Expressing your opinion
.row.opinions
  .span6
    %table.table
      %thead
        %tr
          %th Word
          %th Translation
      %tbody
        %tr
          %td yo
          %td sup
  .span6
    %table.table
      %thead
        %tr
          %th Word
          %th Translation
      %tbody
        %tr
          %td yo
          %td sup
