---
layout: default
title: Yummi - my homepage
---
.hero-unit
  %h1 Hi Spanish noobs!
  %p This project will help you to pass your next Spanish exam.
  %p
    %a.btn.btn-primary.btn-large{:href => "https://github.com/hendricius/spanish-a-thon"} Fork on GitHub
    %a.btn.btn-large{:href => "/pronomes/"} Get started
