---
layout: default
title: Yummi - my homepage
---
%h2 Location-prepositions
%table.table
  %thead
    %tr
      %th
        Prepositions
        %a.1
          %i.icon-eye-open
          Learn-mode
      %th
        Examples
        %a.2
          %i.icon-eye-open
          Learn-mode
  %tbody.parse-data-locations
    %tr
      %td 2
      %td Mark
%h2 Time-prepositions
%table.table
  %thead
    %tr
      %th
        Prepositions
        %a.1
          %i.icon-eye-open
          Learn-mode
      %th
        Examples
        %a.2
          %i.icon-eye-open
          Learn-mode
  %tbody.parse-data-time
    %tr
      %td 2
      %td Mark
