---
layout: default
title: Yummi - my homepage
---
%h2
  Building Phrases in Spanish
%p.lead
  All the phrases follow a simple structure.
%span
  I = subject
%span
  am = verb
%span
  nice = adverb
%hr
%p
  I always get up at 8 in the morning.
%hr
%p
  Yo me levanto siempre a las ocho de la mañana.
