<!DOCTYPE html>
<html lang="en">
  <head>
    {% include headinclude.html %}
  </head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Spanish learnathon</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vocabulary <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/words/">Words</a></li>
                <li><a href="/verbs/">Verbs</a></li>
                <li><a href="/phrases/">Phrases</a></li>
                <li><a href="/linking-words/">Linking words</a></li>
                <li><a href="/expressing-opinion/">Expressing Opinion</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Misc <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/about/">Biography</a></li>
                <li><a href="/latinamerica/">Latinamerica</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grammar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/pronomes/">Pronomes</a></li>
                <li><a href="/prepositions/">Prepositions</a></li>
                <li><a href="/tenses/">Tenses</a></li>
                <li><a href="/adjectives/">Adjectives</a></li>
                <li><a href="/building-phrases/">Building Phrases</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="container wrapper">
    <div class="row">
      <div class="span12">
