<!DOCTYPE html>
<html lang="en">
  <head>
    {% include headinclude.html %}
  </head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Spanish learnathon</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/vocabulary">Vocabulary</a></li>
            <li><a href="/tenses">Tenses</a></li>
            <li><a href="/about">Aboutyou</a></li>
            <li><a href="/pronomes">Pronomes</a></li>
            <li><a href="/prepositions">Prepositions</a></li>
            <li><a href="/latinamerica">Latin America</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container wrapper">
    <div class="row">
      <div class="span12">
