---
layout: default
title: Linking words
---
%h1 Linking phrases together
.row.linking
  .span6
    %table.table
      %thead
        %tr
          %th
            Word
            %a.1
              %i.icon-eye-open
              Learn-mode
          %th
            Translation
            %a.2
              %i.icon-eye-open
              Learn-mode
      %tbody
        %tr
          %td yo
          %td sup
  .span6
    %table.table
      %thead
        %tr
          %th
            Word
            %a.1
              %i.icon-eye-open
              Learn-mode
          %th
            Translation
            %a.2
              %i.icon-eye-open
              Learn-mode
      %tbody
        %tr
          %td yo
          %td sup
