---
layout: default
title: Yummi - my homepage
---
%h2 Adjectives
%blockquote
  %p In Spanish most adjectives change depending on the subject of the sentence.
%p.lead Ending with -o
%table.table
  %thead
    %tr
      %th Noun
      %th Adjective
  %tbody
    %tr
      %td libro
      %td rojo
    %tr
      %td la novia
      %td bonita
    %tr
      %td libros
      %td rojos
    %tr
      %td las novias
      %td bonitas
%p.lead Ending with -e
%p Simply add an s to the end of the word. I.e. intelligente -> intelligentes
%p.lead Ending with consontant
%p Most forms have only two versions, the one with the consonant and another version with es appended to the end of the word. Portugués -> portuguéses
