---
layout: default
title: Yummi - my homepage
---
%h2 A biography about yourself
%blockquote
  %p Write a text about yourself. Include linking words and other connectors.
.row
  .span6
    %p
      %strong Spanish
    %hr
  .span6
    %p
      %strong English
    %hr
.translations
