---
layout: default
title: Yummi - my homepage
---
%h2 South America facts.
%blockquote
  %p The most important facts about South America.
.row
  .span6
    %p
      %strong Spanish
    %hr
  .span6
    %p
      %strong English
    %hr
.translations
