---
layout: default
title: Yummi - my homepage
---
%h1 Vocabulary
%table.table
  %thead
    %tr
      %th #
      %th Spanish
      %th English
  %tbody.parse-data
    %tr
      %td 1
      %td Tienes de Coca Cola?
      %td Do you have coke?
