---
layout: default
title: Yummi - my homepage
---
%h1 Vocabulary
%table.table.learn-mode
  %thead
    %tr
      %th #
      %th
        Spanish
        %a.2
          %i.icon-eye-open
          Learn-mode
      %th
        English
        %a.3
          %i.icon-eye-open
          Learn-mode
  %tbody.parse-data
    %tr
      %td 1
      %td Tienes de Coca Cola?
      %td Do you have coke?
