---
layout: default
title: Yummi - my homepage
---
%h2
  Los demonstrativos
%table.table
  %thead
    %tr
      %th Near speaker
      %th Near listener
      %th Distant
  %tbody.parse-data
    %tr
      %td este
      %td ese
      %td aquel
    %tr
      %td esta
      %td esa
      %td aquella
    %tr
      %td etos
      %td esos
      %td aquellos
    %tr
      %td etas
      %td esas
      %td aquellas
%h2 Subject Pronouns
.row.subject_pronouns
  .span6
    %p
      %i.icon-book
      Explanation
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
  .span6
    %p
      %i.icon-th-list
      Examples
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
%h2 Prepositional object pronouns
.row.prepositional_object_pronouns
  .span6
    %p
      %i.icon-book
      Explanation
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
  .span6
    %p
      %i.icon-th-list
      Examples
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
%h2 Direct object pronouns
.row.direct_object_pronouns
  .span6
    %p
      %i.icon-book
      Explanation
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
  .span6
    %p
      %i.icon-th-list
      Examples
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
%h2 Indirect object pronouns
.row.indirect_object_pronouns
  .span6
    %p
      %i.icon-book
      Explanation
    %table.table
      %thead
        %tr
          %th Spanish
          %th English
      %tbody
  .span6
    %p
      %i.icon-th-list
      Examples
    %table.table

      %thead
        %tr
          %th Spanish
          %th English
      %tbody

%hr
%p.lead
  Find below other rules which need to be taken into consideration when working with pronomes as well.
%hr
%h2 Double object pronouns
%p When both a direct and indirect pronouns occur with the same verb, the indirect pronoun always comes first. If direct and indirect object pronouns both start with an L then the indirect pronoun is changed to se.
%table.table.double_object_pronouns
  %thead
    %tr
      %th Word
      %th Translation
  %tbody
    %tr
      %td Ya nos lo dijeron
      %td They already told it to us.

%h2 Interrogative Pronouns
%table.table.interrogative_pronouns
  %thead
    %tr
      %th Word
      %th Translation
  %tbody
    %tr
      %td Ya nos lo dijeron
      %td They already told it to us.
%h2 Miscellaneous other pronouns
%table.table.misc_other_pronouns
  %thead
    %tr
      %th Word
      %th Translation
  %tbody
    %tr
      %td Ya nos lo dijeron
      %td They already told it to us.
