---
layout: default
title: Linking words
---
%h2 Talking about time
%table.table.learn-mode
  %thead
    %tr
      %th
        Word
        %a.0
          %i.icon-eye-open
          Learn-mode
      %th
        Translation
        %a.1
          %i.icon-eye-open
          Learn-mode
  %tbody.parse-data
    %tr
      %td yo
      %td sup
