---
layout: default
title: Yummi - my homepage
---
%h1 Vocabulary
%table.table
  %thead
    %tr
      %th #
      %th Word
      %th Translation
  %tbody.parse-data
    %tr
      %td 2
      %td Mark
      %td Otto
