---
layout: default
title: Yummi - my homepage
---
%h1 Vocabulary
%table.table.learn-mode
  %thead
    %tr
      %th #
      %th
        Word
        %a.2
          %i.icon-eye-open
          Learn-mode
      %th
        Translation
        %a.3
          %i.icon-eye-open
          Learn-mode
  %tbody.parse-data
    %tr
      %td 2
      %td Mark
      %td Otto
