---
layout: default
title: Yummi - my homepage
---
%h2 Common Questions
%blockquote
  %p Some common questions you should be able to answer fluently.
%table.table
  %thead
    %tr
      %th #
      %th Pregunta
      %th Translation
  %tbody.parse-data
